<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
	<link rel="stylesheet" href="circle.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<title>CUDA Template</title>
</head>

<body>

		<header>
			<div id="logo"></div>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Work</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			<div id="headercontent">
				<h1>Hi there! We are the new kids on the block and we build awesome websites and mobile apps.</h1>
				<div class="btn-wrapper">
					<a href="#" class="btn wrk">Work with us!</a>
				</div>
			</div>
		</header>

		<section id="services">
			<div id="services-main">
				<h2>Services we provide</h2><hr>
				We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			</div>
				<div class="services-section"><img src="img/flag.png" /><h3>Branding</h3><p>Lorem ipsum dolor sit amet, <code>this is just a blockquote</code> consectetuer adipiscing elit, sed diam nonummy nibh.</p></div>
				<div class="services-section"><img src="img/pencil.png" /><h3>Design</h3><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p></div>
				<div class="services-section"><img src="img/gears.png" /><h3>Development</h3><p>At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p></div>
				<div class="services-section"><img src="img/rocket.png" /><h3>Rocket science</h3><p>Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</p></div>
		</section>

		<section id="team">

			<div id="team-main">
				<h2>Meet our beautiful team.</h2><hr>
				We are a small team of designers and developers, who help brands with big ideas.
			</div>

			<div class="team-section">
				<img src="img/team/1.jpg" />
				<h3>Anne Hathaway</h3>
				<h4>CEO / Marketing</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
				<div class="icns">
					<i class="fab fa-facebook-square fa-2x"></i>
					<i class="fab fa-twitter-square fa-2x"></i>
					<i class="fab fa-linkedin fa-2x"></i>
					<i class="fas fa-envelope-square fa-2x"></i>
				</div>
			</div>

			<div class="team-section">
				<img src="img/team/2.jpg" />
				<h3>Ashley Greene</h3>
				<h4>Lead designer</h4>
				<p>Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat diam proident.</p>
				<div class="icns">
					<i class="fab fa-facebook-square fa-2x"></i>
					<i class="fab fa-twitter-square fa-2x"></i>
					<i class="fab fa-linkedin fa-2x"></i>
					<i class="fas fa-envelope-square fa-2x"></i>
				</div>
			</div>

			<div class="team-section">
				<img src="img/team/3.jpg" />
				<h3>Steve Jobs</h3>
				<h4>Creative director</h4>
				<p>Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.</p>
				<div class="icns">
					<i class="fab fa-facebook-square fa-2x"></i>
					<i class="fab fa-twitter-square fa-2x"></i>
					<i class="fab fa-linkedin fa-2x"></i>
					<i class="fas fa-envelope-square fa-2x"></i>
				</div>
			</div>

			<div class="team-section">
				<img src="img/team/4.jpg" />
				<h3>Elon Musk</h3>
				<h4>CEO / Developer</h4>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
				<div class="icns">
					<i class="fab fa-facebook-square fa-2x"></i>
					<i class="fab fa-twitter-square fa-2x"></i>
					<i class="fab fa-linkedin fa-2x"></i>
					<i class="fas fa-envelope-square fa-2x"></i>
				</div>
			</div>

		</section>

		<section id="skills">
			<div id="skills-main">
				<h2>We got skills!</h2><hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="skills-section">
				<div class="c100 p90 cyan mid center"><span>90%</span><div class="slice"><div class="bar"></div><div class="fill"></div></div></div>
				<h3>Web design</h3>
			</div>
			<div class="skills-section">
				<div class="c100 p75 pink mid center"><span>75%</span><div class="slice"><div class="bar"></div><div class="fill"></div></div></div>
				<h3>HTML / CSS</h3>
			</div>
			<div class="skills-section">
				<div class="c100 p70 java mid center"><span>70%</span><div class="slice"><div class="bar"></div><div class="fill"></div></div></div>
				<h3>Graphic design</h3>
			</div>
			<div class="skills-section">
				<div class="c100 p85 orange mid center"><span>85%</span><div class="slice"><div class="bar"></div><div class="fill"></div></div></div>
				<h3>UI / UX</h3>
			</div>
		</section>

		<section id="portfolio">
		<div id="portfolio-main">
			<h2>Our portfolio</h2><hr>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam</p>
			<nav>
			<ul>
				<li><a href="#">All</a></li>
				<li><a href="#">Web</a></li>
				<li><a href="#">Apps</a></li>
				<li><a href="#">Icons</a></li>
			</ul>
		</nav>
		</div>
		
		<div class="portfolio-section">
			<img src="img/portfolio/1.png">
			<p>Isometric perpective mock-up</p>
		</div>
		<div class="portfolio-section">
			<img src="img/portfolio/2.png">
			<p>Time zone app ui</p>
		</div>
		<div class="portfolio-section">
			<img src="img/portfolio/3.png">
			<p>Viro media players ui</p>
		</div>
		<div class="portfolio-section">
			<img src="img/portfolio/4.png">
			<p>Blog / magazine flat ui kit</p>
		</div>
		

		<div class="btn-wrapper">
			<a href="#" class="btn ld">Load more projects</a>
		</div>


		</section>

		<section id="people">
			<div id="people-main">
				<h2>What people say about us</h2><hr>
				Our clients love us!
			</div>

			<div class="people-section">
				<div class="peoplepic"><img src="img/team/1.jpg"></div>
				<div class="quote">
					<p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, ex. Quibusdam aliquam, quis.”</p>
					<h3>Emma Stone</h3><h4>CEO of Pinterest</h4>
				</div>
			</div>

			<div class="people-section">
				<div class="peoplepic"><img src="img/team/2.jpg"></div>
				<div class="quote">
					<p>“Architecto blanditiis possimus doloribus laborum quas, corporis. Assumenda vel eum quidem, nobis aspernatur!”</p>
					<h3>Adriana Lima</h3><h4>Founder of Instagram</h4>
				</div>
			</div>

			<div class="people-section">
				<div class="peoplepic"><img src="img/team/3.jpg"></div>
				<div class="quote">
					<p>“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”</p>
					<h3>Chanel Iman</h3><h4>Co-Founder of Shazam</h4>
				</div>
			</div>

			<div class="people-section">
				<div class="peoplepic"><img src="img/team/4.jpg"></div>
				<div class="quote">
					<p>“Ex quisquam, odit fugiat distinctio facere officiis laudantium voluptas voluptate error sit architecto!”</p>
					<h3>Ann Hathaway</h3><h4>Lead designer at Behance</h4>
				</div>
			</div>

		</section>

		<section id="contacts">
			<div id="contacts-main">
				<h2>Get in touch</h2><hr>
				<p>1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111</p>
			</div>

			<form>
			<div class="contacts-50"><input type="text" placeholder="Your name"></div>
			<div class="contacts-50"><input type="text" placeholder="Your e-mail"></div>
			<div class="contacts-100"><textarea name="Text1" placeholder="Your Message"></textarea></div>
			<div class="btn-wrapper">
				<a href="#" class="btn snd">Send message</a>
			</div>
			</form>
			




		</section>
	
			<div id="contacts-bottom">
				<ul>
					<li><a href="">Facebook</a></li>
					<li><a href="">Twitter</a></li>
					<li><a href="">Google+</a></li>
					<li><a href="">LinedIl</a></li>
					<li><a href="">Behance</a></li>
					<li><a href="">Dribble</a></li>
					<li><a href="">GitHub</a></li>
				</ul>
			</div>


</body>
</html>